@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');


.body {
    // max-width: 800px;
    // padding: 32px 16px;
    // width: 100%;
    // margin: 0 auto;
    max-width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    .title{
        font-size: 30px;
        height: 30px;
        color: #000e1a;
        margin-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .about{
    // flex: 1 1 0%;
    width: 700px;
    background-color: #eee;
    padding: 16px;
    border-radius: 16px;
    // margin-right: 16px;
    color: #6B7280;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
      a {
          color: #EC4899; 
          text-decoration: none; 
          &:hover{
            color:#8B5CF6;
          }
        }
    }
    .etrance{
        // padding-left: 16px;
        font-size: larger;
        font-family: 'Roboto', sans-serif;
        a {
          color: #EC4899; 
          text-decoration: none; 
          &:hover{
            color:#8B5CF6;
          }
        }
        h2{
          font-size: 24px;
          font-weight: 150;
          color: #6B7280;
          margin-bottom: 16px;
          margin-left: 3px;
          font-family: 'Roboto', sans-serif;
          font-style: italic;
        }
      }
}
